    .ion-content {

        --background: rgb(0, 0, 0);
    }

    .confi {

        text-align: center;
    }

    .perfil {
        top: 1%;
        --background: #222428;
        color: white;

    }

    .h1Cue {
        background: transparent;
        top: 2%;
        font-family: 'Russo One', sans-serif;
    }

    .txtPlanesPre {
        font-family: 'Questrial', sans-serif;
        top: 3;
    }

    ion-content {
        --background: #222428;
        /* Reemplaza #f2f2f2 con el color que desees */
    }