ion-content {
  --background: #e0dfe6;

  #header {
    height: 33%;
    background: url(https://c.wallhere.com/photos/1a/6e/1920x1080_px_space-742245.jpg!d);
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;

    #app-bar {
      height: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;

      ion-icon {
        font-size: 24px;
        margin-left: -5px;
      }

      #logo {
        width: 140px;
        height: 140px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 80px;
        align-self: center;


        img {
          width: 140%;
          height: 140px;
          border-radius: 80px;
        }
      }
    }

    h1 {
      font-size: 30px;
      padding-left: 75px;
    }
  }

  .wrapper {
    position: absolute;
    top: 26%;
    left: 4%;
    right: 4%;

    .form-wrapper {
      box-shadow: none;
      border-radius: 20px;
      padding: 15px 10px;

      ion-item {
        --background: #efefef;
        --padding-start: 10px;
        --highlight-height: 0;
        --border-width: 0;
        --min-height: 40px;
        margin-bottom: 15px;
        border-radius: 5px;

        ion-icon {
          font-size: 18px;
        }

        ion-input {
          margin-left: 10px;
          font-size: 14px;
        }
      }

      ion-button {
        margin-top: 25px;
        background-color: #7972e6;
        color: #fff;
        border-radius: 8px;
      }
    }

    .line-text {
      padding: 0 30px;
      position: relative;
      height: 20px;
      margin-top: 30px;

      .lines {
        height: 1px;
        background: #858585;
        display: block;
      }

      .text {
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translateX(-50%);
        background: #e0dfe6;
        padding: 0 16px;
        font-size: 12px;
        font-weight: 500;
        color: #5e5e5e;
      }
    }

    .social-wrapper {
      box-shadow: none;
      border-radius: 20px;

      .socials {
        display: flex;
        justify-content: center;
        padding: 5px;

        ion-button {
          margin: 0 5px;
          --padding-start: 12px;
          --padding-end: 12px;

          ion-icon {
            font-size: 18px;
          }
        }

        .btn-fb {
          --background: #3b5998;
        }

        .btn-tw {
          --background: #48cff5;
        }

        .btn-go {
          --background: #ff3e30;
        }

        .btn-lk {
          --background: #0e76a8;
        }
      }
    }
  }
}

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min +floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  $star-count: 50;
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    // For mobile performance, tail-fade animation will be removed QAQ
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {

  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}